.rpr-info-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: auto;
    gap: 2em;
    margin: 0 0 2em 0;
}

.rpr-terms-container ul.rpr-terms,
.rpr-nutrition-container ul.rpr-nutrition,
.rpr-times-container ul.rpr-times,
.rpr-servings-container ul.rpr-servings {
    list-style: none !important;
    padding-left: 0;
    margin-left: 0;
}

.rpr-terms-container li.rpr-term-item,
.rpr-nutrition-container li.nutrition-energy,
.rpr-nutrition-container li.nutrition-fat,
.rpr-nutrition-container li.nutrition-protein,
.rpr-nutrition-container li.nutrition-carbs,
.rpr-times-container li.prep-time,
.rpr-times-container li.cook-time,
.rpr-times-container li.ready-time,
.rpr-servings-container .rpr-servings li {
    display: flex;
    justify-content: space-between;
}

.rpr-terms-container span.rpr-tax-term {
    text-align: right;
}

.rpr-terms-container span.rpr-tax-name {
    flex-shrink: 0;
}

.rpr-servings-container .rpr-servings {

}

.rpr-nutrition-container .heading {

}

.rpr-nutrition-container .heading h3,
.rpr-nutrition-container .heading p {
    display: inline-block;
}

.rpr-ingredients-container,
.rpr-instruction-container,
.rpr-notes-container,
.rpr-description-container {
    margin: 0 0 2em 0;
}

.rpr-share-container {
    margin: 0 0 1em 0;
}

.rpr-source-container {
    margin: 0 0 2em 0;
}

.rpr-times {
    margin: 0;
}

.rpr-servings-container {

}

.rpr-source-container .rpr-source {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.rpr-source label {
    margin: 0 5px 0 0;
}

ol.rpr-instruction-list {
    margin: 0 0 0 10px;
}

ul.rpr-ingredient-list {
    margin: 0 0 2rem 30px;
    list-style: none;
}

li.rpr-ingredient {
    margin: 0 0 .2rem 0;
    position: relative;
}

ul.rpr-ingredient-list li::before {
    content: "\2022";
    color: #2a2a2a;
    font-weight: bold;
    display: inline-block;
    width: 2em;
    margin-left: -1em;
    padding: 0;
    font-size: 30px;
    position: absolute;
    top: -12px;
    left: 6px;
}

.rpr-instruction-list .rpr-instruction {
    position: relative;
    clear: right;
    margin: 0 0 1em 2em;
    list-style-type: none !important;
    counter-increment: counter;
}

.rpr-instruction-wrapper.has_thumbnail.right {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-column-gap: 10px;
}

.rpr-instruction-list .rpr-instruction a {
    box-shadow: none !important;
}

.rpr-instruction-list .rpr-instruction::before {
    content: counter(counter);
    display: block;
    float: left;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    background: #2a2a2a;
    border-radius: 100%;
    margin-top: 5px;
    margin-left: -32px;
    font-weight: 800;
    font-size: 11px;
}

.rpr-recipe-instruction-text.has_thumbnail.right {
    width: calc(100% - 150px);
    display: inline-block;
    vertical-align: top;
}

.rpr-instruction-list .rpr-instruction img.right,
.rpr-instruction-list .rpr-instruction img.below {
    vertical-align: top;
    margin: 10px 0 30px 0;
}

.rpr-instruction-list .rpr-instruction img.below {
    width: 100%;
}

.rpr-instruction-list .rpr-instruction .rpr_img_link{
    float: right;
    margin: 0 0 10px 0;
}

h3.rpr-ingredient-group-title {
    padding: 0;
    margin: 1em 0;
}

.rpr-the-title {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 10px 0;
}

.rpr-the-title ul li {
    width: 25px;
}
