@font-face {
  font-family: 'rpr-icons';
  src: url('../font/rpr-icons.eot?93731586');
  src: local('san-serif'),
       url('../font/rpr-icons.eot?93731586#iefix') format('embedded-opentype'),
       url('../font/rpr-icons.woff2?93731586') format('woff2'),
       url('../font/rpr-icons.woff?93731586') format('woff'),
       url('../font/rpr-icons.ttf?93731586') format('truetype'),
       url('../font/rpr-icons.svg?93731586#rpr-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'rpr-icons';
    src: url('../font/rpr-icons.svg?93731586#rpr-icons') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "rpr-icons", serif;
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-tag:before { content: '\e800'; } /* '' */
.icon-tags:before { content: '\e801'; } /* '' */
.icon-export:before { content: '\e802'; } /* '' */
.icon-basket:before { content: '\e803'; } /* '' */
.icon-th-list:before { content: '\e804'; } /* '' */
.icon-list:before { content: '\e805'; } /* '' */
.icon-cog:before { content: '\e806'; } /* '' */
.icon-cog-alt:before { content: '\e807'; } /* '' */
.icon-mail:before { content: '\e808'; } /* '' */
.icon-search:before { content: '\e809'; } /* '' */
.icon-heart:before { content: '\e80a'; } /* '' */
.icon-heart-empty:before { content: '\e80b'; } /* '' */
.icon-fire:before { content: '\e80c'; } /* '' */
.icon-clock:before { content: '\e80d'; } /* '' */
.icon-hourglass:before { content: '\e80e'; } /* '' */
.icon-link:before { content: '\e80f'; } /* '' */
.icon-bookmark:before { content: '\e810'; } /* '' */
.icon-check:before { content: '\e811'; } /* '' */
.icon-book:before { content: '\e812'; } /* '' */
.icon-resize-horizontal:before { content: '\e813'; } /* '' */
.icon-resize-vertical:before { content: '\e814'; } /* '' */
.icon-ccw:before { content: '\e815'; } /* '' */
.icon-inbox:before { content: '\e816'; } /* '' */
.icon-star-1:before { content: '\e817'; } /* '' */
.icon-star-empty-1:before { content: '\e818'; } /* '' */
.icon-print:before { content: '\e819'; } /* '' */
.icon-calendar:before { content: '\e81a'; } /* '' */
.icon-fast-food:before { content: '\e81b'; } /* '' */
.icon-info-circled:before { content: '\e81c'; } /* '' */
.icon-comment:before { content: '\e81d'; } /* '' */
.icon-chat:before { content: '\e81e'; } /* '' */
.icon-attach:before { content: '\e81f'; } /* '' */
.icon-buffer:before { content: '\e820'; } /* '' */
.icon-instapaper:before { content: '\e821'; } /* '' */
.icon-award:before { content: '\e822'; } /* '' */
.icon-chart-pie-1:before { content: '\e823'; } /* '' */
.icon-linkedin-1:before { content: '\e824'; } /* '' */
.icon-amazon:before { content: '\e825'; } /* '' */
.icon-print-1:before { content: '\e826'; } /* '' */
.icon-yummly:before { content: '\e827'; } /* '' */
.icon-mix:before { content: '\e828'; } /* '' */
.icon-flipboard:before { content: '\e829'; } /* '' */
.icon-down-dir:before { content: '\e82a'; } /* '' */
.icon-up-dir:before { content: '\e82b'; } /* '' */
.icon-left-dir:before { content: '\e82c'; } /* '' */
.icon-right-dir:before { content: '\e82d'; } /* '' */
.icon-down-open:before { content: '\e82e'; } /* '' */
.icon-left-open:before { content: '\e82f'; } /* '' */
.icon-right-open:before { content: '\e830'; } /* '' */
.icon-up-open:before { content: '\e831'; } /* '' */
.icon-down-big:before { content: '\e832'; } /* '' */
.icon-left-big:before { content: '\e833'; } /* '' */
.icon-right-big:before { content: '\e834'; } /* '' */
.icon-up-big:before { content: '\e835'; } /* '' */
.icon-cancel:before { content: '\e836'; } /* '' */
.icon-cancel-circled:before { content: '\e837'; } /* '' */
.icon-trash-empty:before { content: '\e838'; } /* '' */
.icon-spin6:before { content: '\e839'; } /* '' */
.icon-cancel-1:before { content: '\e83a'; } /* '' */
.icon-star-half-1:before { content: '\f022'; } /* '' */
.icon-star-half_empty:before { content: '\f024'; } /* '' */
.icon-move:before { content: '\f047'; } /* '' */
.icon-check-empty:before { content: '\f096'; } /* '' */
.icon-bookmark-empty:before { content: '\f097'; } /* '' */
.icon-list-bullet:before { content: '\f0ca'; } /* '' */
.icon-list-numbered:before { content: '\f0cb'; } /* '' */
.icon-sort:before { content: '\f0dc'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-comment-empty:before { content: '\f0e5'; } /* '' */
.icon-chat-empty:before { content: '\f0e6'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
.icon-coffee:before { content: '\f0f4'; } /* '' */
.icon-food:before { content: '\f0f5'; } /* '' */
.icon-circle-empty:before { content: '\f10c'; } /* '' */
.icon-circle:before { content: '\f111'; } /* '' */
.icon-unlink:before { content: '\f127'; } /* '' */
.icon-calendar-empty:before { content: '\f133'; } /* '' */
.icon-export-alt:before { content: '\f14d'; } /* '' */
.icon-sort-name-up:before { content: '\f15d'; } /* '' */
.icon-sort-name-down:before { content: '\f15e'; } /* '' */
.icon-thumbs-up-alt:before { content: '\f164'; } /* '' */
.icon-thumbs-down-alt:before { content: '\f165'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-box:before { content: '\f187'; } /* '' */
.icon-bug:before { content: '\f188'; } /* '' */
.icon-dot-circled:before { content: '\f192'; } /* '' */
.icon-reddit:before { content: '\f1a1'; } /* '' */
.icon-digg:before { content: '\f1a6'; } /* '' */
.icon-share:before { content: '\f1e0'; } /* '' */
.icon-share-squared:before { content: '\f1e1'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-birthday:before { content: '\f1fd'; } /* '' */
.icon-chart-pie:before { content: '\f200'; } /* '' */
.icon-balance-scale:before { content: '\f24e'; } /* '' */
.icon-hand-paper-o:before { content: '\f256'; } /* '' */
.icon-get-pocket:before { content: '\f265'; } /* '' */
.icon-reddit-alien:before { content: '\f281'; } /* '' */
.icon-shopping-basket:before { content: '\f291'; } /* '' */
.icon-address-card:before { content: '\f2bb'; } /* '' */
.icon-address-card-o:before { content: '\f2bc'; } /* '' */
.icon-user-circle:before { content: '\f2bd'; } /* '' */
.icon-user-circle-o:before { content: '\f2be'; } /* '' */
.icon-github:before { content: '\f300'; } /* '' */
.icon-github-circled:before { content: '\f301'; } /* '' */
.icon-flickr:before { content: '\f303'; } /* '' */
.icon-flickr-circled:before { content: '\f304'; } /* '' */
.icon-vimeo:before { content: '\f306'; } /* '' */
.icon-vimeo-circled:before { content: '\f307'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-twitter-circled:before { content: '\f30a'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
.icon-facebook-circled:before { content: '\f30d'; } /* '' */
.icon-facebook-squared:before { content: '\f30e'; } /* '' */
.icon-gplus:before { content: '\f30f'; } /* '' */
.icon-gplus-circled:before { content: '\f310'; } /* '' */
.icon-pinterest:before { content: '\f312'; } /* '' */
.icon-pinterest-circled:before { content: '\f313'; } /* '' */
.icon-tumblr:before { content: '\f315'; } /* '' */
.icon-tumblr-circled:before { content: '\f316'; } /* '' */
.icon-linkedin:before { content: '\f318'; } /* '' */
.icon-linkedin-circled:before { content: '\f319'; } /* '' */
.icon-dribbble:before { content: '\f31b'; } /* '' */
.icon-dribbble-circled:before { content: '\f31c'; } /* '' */
.icon-stumbleupon:before { content: '\f31e'; } /* '' */
.icon-stumbleupon-circled:before { content: '\f31f'; } /* '' */
.icon-qq:before { content: '\f32a'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */
.icon-dropbox:before { content: '\f330'; } /* '' */
.icon-evernote:before { content: '\f333'; } /* '' */
.icon-skype:before { content: '\f339'; } /* '' */
.icon-skype-circled:before { content: '\f33a'; } /* '' */
.icon-picasa:before { content: '\f345'; } /* '' */
.icon-vkontakte:before { content: '\f354'; } /* '' */
